# .github/workflows/deploy.yml
name: Deploy to Railway

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  # STAGING: cuando hay push a main
  deploy-staging:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    container: ghcr.io/railwayapp/cli:latest

    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      RAILWAY_SERVICE: ${{ secrets.RAILWAY_SERVICE }}

    steps:
      - name: Redeploy service on Railway (staging)
        run: |
          railway redeploy --service="$RAILWAY_SERVICE" -y

  # # PROD: cuando hay push de una tag v*
  # deploy-prod:
  #   runs-on: ubuntu-latest
  #   if: startsWith(github.ref, 'refs/tags/v')

  #   steps:
  #     - name: Log in to Docker Hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     # Importante: esto asume que ya existe la imagen con este SHA
  #     # porque se construy贸 cuando ese commit se merge贸 a main.
  #     - name: Pull image built from this commit
  #       run: |
  #         docker pull ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:${{ github.sha }}

  #     - name: Tag image for production
  #       run: |
  #         # Alias para producci贸n
  #         docker tag \
  #           ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:${{ github.sha }} \
  #           ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:prod

  #         # Alias con la versi贸n (nombre de la tag, tipo v1.2.3)
  #         docker tag \
  #           ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:${{ github.sha }} \
  #           ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:${{ github.ref_name }}

  #     - name: Push production tags
  #       run: |
  #         docker push ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:prod
  #         docker push ${{ secrets.DOCKER_USERNAME }}/express-boilerplate-ts:${{ github.ref_name }}

  #     - name: Deploy to Railway (prod)
  #       uses: docker://ghcr.io/railwayapp/cli:latest
  #       env:
  #         RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
  #         RAILWAY_SERVICE: ${{ secrets.RAILWAY_SERVICE_PROD }}
  #       with:
  #         entrypoint: /bin/sh
  #         args: -lc 'railway redeploy --service="$RAILWAY_SERVICE" -y'
