name: Deploy to Railway

on:
  workflow_run:
    workflows: ['Build and Push Docker Image']
    types:
      - completed

jobs:
  deploy-to-railway:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-latest
    container: ghcr.io/railwayapp/cli:latest

    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      RAILWAY_SERVICE: ${{ secrets.RAILWAY_SERVICE }}

    steps:
      - name: Redeploy service on Railway
        run: |
          railway redeploy --service="$RAILWAY_SERVICE" -y
